use flake 
dotenv_if_exists .env
dotenv_if_exists .env.development
dotenv_if_exists .env.local
dotenv_if_exists .env.development.local

# Add project-specific bin directory to PATH for custom scripts
PATH_add bin